%nav{class: 'navbar navbar-light navbar-toggleable-md bg-faded'}
  %button{type: 'button', class: 'navbar-toggler navbar-toggler-right', 'data-toggle' => 'collapse', 'data-target' => '#navbarNav', 'aria-controls' => 'navbarNav', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation'}
    %span{class: 'navbar-toggler-icon'}
  = link_to 'Mini BookingSync Client', root_path, class: 'navbar-brand'
  %div{class: 'collapse navbar-collapse', id: 'navbarNav'}
    %div{class: 'navbar-nav'}
      = link_to 'Rentals', rentals_path, class: 'nav-item nav-link'
      = link_to 'Bookings', bookings_path, class: 'nav-item nav-link'
